.header__lang-link_active {
  position: relative;
  max-width: 30px;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
  color: #ffffff;
  transition: opacity 1s linear 0.5s;
}
.header__lang-link_active:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link_active {
    font-size: 18px;
    line-height: 20px;
  }
}
