.cover {
  margin: 0;
  max-width: 1184px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../images/sprint-3-images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 18px;
  }
}
