.place__link {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: opacity 1s linear 0.5s;
  text-decoration-line: none;
  justify-content: space-around;
}
.place__link:hover {
  opacity: 0.8;
}
